# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
.env.*

# macOS
.DS_Store

# Editor folders
.vscode/
.idea/

# Streamlit cache / temp
.streamlit/

# Data & model files
*.csv
*.pkl

# Logs
*.log
